<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                                  http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    
<!--        <context-param>
        <param-name>org.ajax4jsf.handleViewExpiredOnClient</param-name> 
        <param-value>true</param-value>     
    </context-param>
    -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/login.xhtml</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Entire Application</web-resource-name>
            <url-pattern>/*</url-pattern>
            <url-pattern>/faces/errors/403.xhtml</url-pattern>
            <url-pattern>/faces/errors/404.xhtml</url-pattern>
            <url-pattern>/faces/errors/error.xhtml</url-pattern>
            <url-pattern>/faces/login.xhtml</url-pattern>
            <url-pattern>/faces/index.xhtml</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <!--    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Public</web-resource-name>
            <description>Makes the landing page explicitly public</description>
            <url-pattern>/login.html</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
         No auth-constraint = everybody has access! 
    </security-constraint>-->
    <security-constraint>
        <display-name>AdminConstrain</display-name>
        <web-resource-collection>
            <web-resource-name>AdminResource</web-resource-name>
            <description>AdminResource</description>
            <url-pattern>/WEB-INF/include/entity/*</url-pattern>
            <url-pattern>/faces/app/account/EditMyAccount.xhtml</url-pattern>
            <url-pattern>/faces/app/account/index.xhtml</url-pattern>
            <url-pattern>/faces/app/account/success.xhtml</url-pattern>
            <url-pattern>/faces/app/reservStatus/*</url-pattern>
            <url-pattern>/faces/app/licenseType/*</url-pattern>
            <url-pattern>/faces/app/*</url-pattern>
            <url-pattern>/faces/app/index.hxtml</url-pattern>
            <url-pattern>/faces/app/login.hxtml</url-pattern>
            <url-pattern>/faces/errors/*</url-pattern>
            <!--<url-pattern>/errors/*</url-pattern>-->
            <url-pattern>/faces/WEB-INF/include/entity/account/List.xhtml</url-pattern>
            <url-pattern>/faces/WEB-INF/include/entity/account/Create.xhtml</url-pattern>
            <url-pattern>/faces/WEB-INF/include/entity/account/Edit.xhtml</url-pattern>
            <url-pattern>/faces/WEB-INF/include/entity/account/View.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>ManagerConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>ManagerConstraint</web-resource-name>
            <description>EmployeeConstrain</description>
            <url-pattern>/faces/app/account/EditMyAccount.xhtml</url-pattern>
            <url-pattern>/faces/app/reserv/*</url-pattern>
            <url-pattern>/faces/app/equipment/*</url-pattern>
            <!--<url-pattern>/faces/app/reservStatus/*</url-pattern>-->
            <url-pattern>/faces/app/index.hxtml</url-pattern>
            <url-pattern>/faces/app/login.hxtml</url-pattern>
            <url-pattern>/faces/app/usePlace/*</url-pattern>
            <url-pattern>/faces/errors/*</url-pattern>
            <url-pattern>/WEB-INF/include/entity/equipment/List.xhtml</url-pattern>
            <url-pattern>/WEB-INF/include/entity/equipment/View.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>manager</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>EmployeeConstrain</display-name>
        <web-resource-collection>
            <web-resource-name>EmployeeConstrain</web-resource-name>
            <description>EmployeeConstrain</description>
            <url-pattern>/WEB-INF/include/entity/equipment/List.xhtml</url-pattern>
            <url-pattern>/WEB-INF/include/entity/equipment/View.xhtml</url-pattern>
            <url-pattern>/WEB-INF/include/entity/account/EditMyAccount.xhtml</url-pattern>
            <url-pattern>/faces/app/equipment/*</url-pattern>
            <url-pattern>/faces/app/reserv/*</url-pattern>
            <url-pattern>/faces/app/index.hxtml</url-pattern>
            <url-pattern>/faces/app/login.hxtml</url-pattern>
            <url-pattern>/faces/app/account/EditMyAccount.xhtml</url-pattern>
            <url-pattern>/faces/errors/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>employee</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>InactiveConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>InactiveConstrain</web-resource-name>
            <description>InactiveConstrain</description>
            <url-pattern>/faces/accountinactiv.xhtml</url-pattern>
            <url-pattern>/faces/index.xhtml</url-pattern>
            <url-pattern>/faces/errors/*</url-pattern>
            <url-pattern>/faces/app/account/EditMyAccount.xhtml</url-pattern>
            <!--<url-pattern>/faces/app/account/index.xhtml</url-pattern>-->
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>inactive</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>jdbcRealm</realm-name>
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/errors/login.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>admins</description>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <description>employees</description>
        <role-name>employee</role-name>
    </security-role>
    <security-role>
        <description>managers</description>
        <role-name>manager</role-name>
    </security-role>
    <security-role>
        <description>inactives</description>
        <role-name>inactive</role-name>
    </security-role>
       <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/faces/login.xhtml</location>
    </error-page>
<!--    <error-page>
        <error-code>403</error-code>
        <location>/faces/errors/403.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/faces/errors/error.xhtml</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/faces/errors/error.xhtml</location>
    </error-page>-->
</web-app>
